In [2]:
tup = (4, 5, 6)
a, b, c = tup
#  = a, b, c
print(tup)
print(b)
print(type(b))
print(c)
print(a)

(4, 5, 6)
5
<class 'int'>
6
4

In [6]:
"""rest"""
values = 1, 2, 3, 4, 5
# a, b, *rest = values
a, b, *_ = values
print(a)
print(b)
print(*_)
print(values)

1
2
3 4 5
(1, 2, 3, 4, 5)

In [8]:
a = [1, 2, 2, 2, 3, 4, 2]
a.count(2)
# 4

4

In [12]:
from collections import deque
d = deque([1, 2, 3, 4, 5])
d
# print(type(d))

deque([1, 2, 3, 4, 5])

In [3]:
"""https://wesmckinney.com/book/python-builtin#list_concat_combine"""
x = [num for num in range(10)]
for i in range(10, 16):
    x.append(i) 
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [14]:
import string
import json
alphabet = string.ascii_letters
a = alphabet[:10]
x = [num for num in range(1, 11)]
y = zip(a, x)
z = dict(y)
print(z)#dict(y)
print(json.dumps(z, indent=4))
list(z.keys())
5 in z.values()

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10}
{
    "a": 1,
    "b": 2,
    "c": 3,
    "d": 4,
    "e": 5,
    "f": 6,
    "g": 7,
    "h": 8,
    "i": 9,
    "j": 10
}

True

In [6]:
import string
c = 'some value'
d = [1, 2, 3, 4]
d1 = {
    'a': c,
    'b': d,
    7: 'an integer',
    5: 'some value'
    }

# list(d1.keys())
# list(d1.values())
# d1.items()
# d1['b'] = [alpha for alpha in string.ascii_letters[4]]
# d1['b'] = string.ascii_letters[4]
print(d1)
# print(list(d1.items()))
# list(d1.keys())
for key, value in d1.items():
    print(key)
    print(value)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
a
some value
b
[1, 2, 3, 4]
7
an integer
5
some value

In [1]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [2]:
# set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [6]:
my_data = [1, 2, 3, 4]

my_set = {tuple(my_data)}
# my_set
flat_set = {i for i in my_data}
flat_set

{1, 2, 3, 4}

In [6]:
seq = [7, 2, 3, 6, 3, 6, 0, 1]
seq[-3::-1]

[6, 3, 6, 3, 2, 7]

In [34]:
"""Index to start at x"""

import pandas as pd
import numpy as np
import string
alphabet = string.ascii_letters

dt = pd.DataFrame({'Yes': [i for i in range(1, 11)], 'No': [a for a in alphabet[0:10]]}, index=np.arange(1, len(alphabet[0:11])))#

print(dt)

    Yes No
1     1  a
2     2  b
3     3  c
4     4  d
5     5  e
6     6  f
7     7  g
8     8  h
9     9  i
10   10  j

In [19]:
i_list = [i for i in range(1, 11)]
pd.Series(i_list, index=np.arange(1, len(i_list)+1))#
# print(leng)

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [20]:
import pandas as pd
import numpy as np
dt_sr = [i for i in range(1, 11)]
sr = pd.Series(dt_sr, np.arange(1, len(dt_sr)+1))#[range(1, len(dt_sr)+1)]
sr_pd = pd.DataFrame(sr, np.arange(1, len(sr)+1), columns=['start'])#, 'end'
sr_pd['sum'] = sr_pd + 5
sr_pd['product'] = sr_pd['start'] * 10
sr_pd

    start  sum  product
1       1    6       10
2       2    7       20
3       3    8       30
4       4    9       40
5       5   10       50
6       6   11       60
7       7   12       70
8       8   13       80
9       9   14       90
10     10   15      100

In [3]:
import json
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]

dict = {i: val for i, val in enumerate(zip(seq1, seq2))}
dict_jas = json.dumps(dict, indent = 4)
print(dict_jas)

{
    "0": [
        "foo",
        "one"
    ],
    "1": [
        "bar",
        "two"
    ],
    "2": [
        "baz",
        "three"
    ]
}

In [13]:
rev_list = [i for i in reversed(range(10))]
# rev_list = list(range(5,-1,-1))
print(rev_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]